---
---
@import "{{ site.theme }}";
h1 {
  color: black;
  font-size: 30px;
}
h2 {
  color: black;
  font-size: 26px;
}
h3 {
  color: black;
  font-size: 24px;
}
p{
  color: black;
  font-size: 18px;
}
